/* ----------------*/
/*Custom properties*/
/* ----------------*/
:root{
    --clr-light:60 100% 98%;
    --clr-dark:60 3% 20%;
    --clr-grey:60 1% 36%;
    --clr-green:184 94% 13%;

    /* font-sizes */
    --fs-500: 7.5rem;
    --fs-400: 6.33rem;
    --fs-300: 2rem;
    --fs-200: 1rem;
    --fs-100: 0.875rem ;

    /* font-families */
    --ff-quick: 'Quicksand', sans-serif;
    --ff-arvo: 'Arvo', serif;
    --ff-source-sans: 'Source Sans Pro', sans-serif;
}
/* ----------------*/
/* Reset           */
/* ----------------*/

/* Box sizing      */

*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Reset margins    */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}
/* set up the body */
body {
    font-family: var(--ff-source-sans);
    font-size: var(--fs-200);
    color: hsl( var(--clr-dark));
    background-color: hsl( var(--clr-light));
    line-height: 1.5;

    overflow-x: hidden;
}

/* images */
img,
picture{
    max-width: 100%;
    display:block;
}

/* form elements */
input,
button,
textarea,
select {
    font: inherit;
}

/* ----------------*/
/* Utility classes */
/* ----------------*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
    
}
.flex #typography{
    display: flex;
    gap: var(--gap, 1rem);
    
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline:2rem;
    margin-inline: auto;
    max-width: 100rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* colors */

.bg-light {background-color: hsl( var(--clr-light));}
.bg-dark {background-color: hsl( var(--clr-dark));}
.bg-grey {background-color: hsl( var(--clr-grey));}
.bg-green {background-color: hsl( var(--clr-green));}

.text-light {color: hsl( var(--clr-light));}
.text-dark {color: hsl( var(--clr-dark));}
.text-grey {color: hsl( var(--clr-grey));}
.text-green {color: hsl( var(--clr-green));}

/* typography */

.ff-quick{font-family: var(--ff-quick);}
.ff-arvo{font-family: var(--ff-arvo);}
.ff-source-sans{font-family: var(--ff-source-sans);}

.fs-500{font-size: var(--fs-500);}
.fs-400{font-size: var(--fs-400);}
.fs-300{font-size: var(--fs-300);}
.fs-200{font-size: var(--fs-200);}
.fs-100{font-size: var(--fs-100);}

.fs-500,
.fs-400,
.fs-100 {
    line-height: 1.1;
}

/* -----------------------*/
/* Componenets            */
/* -----------------------*/
.primary-navigation {
    --gap: 3rem;
    --underline-gap: .2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.primary-navigation a {
    text-decoration:none;
}
.logo{
    padding: 0;
    margin: 0;
    width: 15rem;
    height: auto;
    
}
.primary-header{
    align-items:center;
    justify-content:space-between;
    
}
.mobile-nav-toggle{
    display: none;
}
.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}
@media (min-width: 40em){
    .primary-navigation  {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 1rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
    }
}
@media (max-width:50em) {
    .primary-navigation{
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        background: hsl( var(--clr-dark) / .25 );
        backdrop-filter: blur(2rem);
        transform: translateY(-100%);
        transition: transform 350ms ease-out;
        
    }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background: url("/client/src/icons8-hamburger-menu-48.png");
        background-repeat: no-repeat;
        width: 3rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    .logo{
        margin: 0;
        width: 10rem;
        height: auto;
        
    }
}
.mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/client/src/icons8-close-50.png") ;
}
.underline-indicators > * {
    padding: var(--underline-gap, 1rem) 0;
    border-bottom: .2rem solid hsl( var(--clr-dark) / 0 );
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-dark) / .25 );
}
.underline-indicators > .active {
    border-color: hsl( var(--clr-dark) / 1 );
}

.btn{
    width: 8rem;
    height: 3rem;
    border: solid hsl( var(--clr-green));
    background-color: hsl( var(--clr-light));
    border-radius: 0.18rem;
    box-shadow: inset 0 0 0 0 hsl( var(--clr-green));
    transition: ease-out .3s;
    outline: none;
}
.btn:hover,
.btn:focus {
    box-shadow: inset 7rem 0 0 0 hsl( var(--clr-green));
    color: hsl( var(--clr-light));
    
}
.product-container {
    position: relative;
    padding-inline:2rem;
    margin-inline: 0;
    margin-block: 17rem;
}
.text-container{
    position: relative;
    padding-inline: 2em;
    margin-inline: 0;
    
    padding-top: 5rem;
    text-align: left;
}
.plante_1 {
    text-decoration: none;
}
.plante_1_img {
    width: 300px;
    position: absolute;
    transform: translate(50%, -50%);
    z-index: 1;
    display: none;
}
#content{
    padding: 5rem 0 0 0;
}
.plante_2 {
    text-decoration: none;
}
.plante_2_img {
    width: 300px;
    position: absolute;
    transform: translate(50%, -50%);
    z-index: 1;
    display: none;
}
.products{
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}
.product-container ul li {
    height: 10rem;
    display: flex;
    overflow: hidden; 
    margin-bottom: 0.5rem;
    justify-content: flex-start
    ;
}
.product-container ul li a {
    display: block;
    line-height: 10rem;
    transform: translateY(200%);
    margin-bottom: 0.5rem;

}

.product-container ul li a.active {
    transform: translateY(0%);
    transition: 1s ease-out;
}
.underline{
    text-decoration: none;
}
.about-container {
    padding-top:5rem ;
    position: relative;
    padding-inline:10rem;
    margin-inline: auto;
    max-width: 100rem;
    max-height: 50rem;
    justify-content: flex-start;
    --gap: 1rem;

    
    
}

.img_about{
    display: inline-block;
    width: auto;
    height: 30rem;

}
.text-about{
    flex-direction: column;
    --gap: 2rem;
    justify-items: flex-start;

    
}